.btn-large-custom {
    font-size: 24px;
    padding: 20px 40px;
    border-radius: 8px;
}
.patient_reg_form .o_form_sheet_bg > .o_form_sheet {
    max-width: 97% !important;
}

html .o_web_client > .o_action_manager {
    color: #181717 !important;
}
.o_form_view .o_group {
	padding: 0px 45px 0px 45px !important;
}

.ot_management div{
    width: 35% !important;
}

.ot_management select{
    width: 35% !important;
}
.insurance-form div{
    width: 35% !important;
}
.insurance-form .o_field_char{
    width: 35% !important;
}
.insurance-form .o_field_float{
    width: 35% !important;
}

.insurance-form select{
    width: 35% !important;
}